<% @page_title = 'Add your awesome idea' %>
<% @meta_description = 'Great ideas can come from anywhere'%>
<div class='container'>
<h2>Tell us about your idea...</h2>
	
	<%= render :partial => 'form' %>



