<% @page_title = 'Get Ideas from your employees' %>
<% @meta_description = 'Great ideas can come from anywhere'%>

<div class="row">
  <div class="small-11 small-centered text-center columns">
      <h1>Great ideas can come from anywhere!</h1>
      <a href="#" class="button">Add your idea</a>
  </div>
</div>


<p class="text-center">Ideas so far: <%=@ideas.count%></p>